.comments {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: #a98e787d;
}

.comment {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height:330px;
    text-align: center;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 2px;
}

.comment-button {
    padding: 4px 8px;
    background-color: silver;
    cursor: pointer;
    border: 1px solid gray;
}

.comment-button:hover{
    background-color: rgba(45, 23, 1, 0.5);
}