.launches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    gap: 10px;
}

.launch {
    padding: 5px;
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h4 {
    margin: 4px;
    text-align: center;
}

.rocket {
    font-size: 50px;
    text-align: center;
}