.todos {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: #a98e787d;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    padding: 7px;
    text-align: center;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 48%;
}
